{% extends 'base.html' %}
{% load django_bootstrap5 %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

{% block content %}
{% comment %} 빵집 이름 {% endcomment %}
{% comment %} <h3>{{ shop_name }}</h3> {% endcomment %}
{% comment %} 리뷰 작성자 이름(클릭하면 리뷰 프로필 페이지로 이동) {% endcomment %}
<p><a href="{% url 'accounts:detail' review.user.pk %}">{{ review.user.image }}{{ review.user.username }}</a></p>
{% comment %} 리뷰 작성 개수 {% endcomment %}
<p>리뷰{{ user.review_set.count }}개</p>

{% comment %} 팔로우 버튼 {% endcomment %}
{% if request.user != user %}
  <a style="text-decoration:none; color:blue;" class="follow-implement" href="{% url 'accounts:follow' user.pk %}">
      {% if request.user in user.followers.all %}
      <i class="bi bi-backspace-fill"> Unfollow!</i>
      {% else %}
      <i class="bi bi-check-square-fill"> Follow!</i>
      {% endif %}
  </a>
  {% endif %}
{% comment %} 최근 방문일 {% endcomment %}
<p>{{ review.visited_at }}</p>

<span>
{% comment %} 좋아요 버튼 {% endcomment %}
    {% if request.user.is_authenticated %}
        <a class="like-heart" href="{% url 'reviews:like' review.pk %}">
        {% if request.user in review.like_users.all %}
        <i class="bi bi-heart-fill"></i>
        {% else %}
        <i class="bi bi-heart"></i>
        {% endif %}</a>{{ review.like_users.count }}
</span>
    {% endif %}
<hr>
{% if request.user == review.user %}
{% comment %} 요청한 user가 리뷰를 작성한 user일 경우에 수정 및 삭제{% endcomment %}
  <p>
    <button type="button" class="btn btn-warning">
      <a class="m-4 " style="color: #000;" href="{% url 'reviews:update' review.pk %}">수정하기</a>
    </button>
  </p>
  <p>
    <button type="button" class="btn btn-warning">
      <a class="m-4 " style="color: #000;" href="{% url 'reviews:delete' review.pk %}">삭제하기</a>
    </button>
  </p>

{% comment %} 댓글 {% endcomment %}
{% endif %}
<h4 class="my-3">댓글</h4>
{% if request.user.is_authenticated %}
<form id="comment-form" data-review-id="{{ review.pk }}">
  {% csrf_token %}
  {% bootstrap_form comment_form layout='floating'%}
  {% bootstrap_button button_type="submit" content="OK" %}
</form>
{% endif %}
<hr>
<div id="comments">
{% for comment in comments %}
  <p> {{ comment.user.username }} | {{ comment.content }}</p>
  <hr>    
{% empty %}
  <p>댓글을 입력해주세요</p>
{% endfor %}
{% endblock %}