{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

{% block content %}

<div class='review'>
    <div style='float:left'><strong>{{ shop_name }}</strong></div>
    <div><span>에 대한 솔직한 리뷰를 써주세요✍️</span></div>
</div>
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% comment %} { review_form.as_p } {% endcomment %}
    {% bootstrap_form review_form %}
    {% bootstrap_button button_class="btn btn-outline-warning" style="font-weight:bold; float:left" button_type="reset" content="취소" %}
    {% bootstrap_button button_class="btn btn-warning fw-bolder" style='color:white'  button_type="submit" content="리뷰 올리기" %}
</form>

{% endblock %}
