{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/reviews/review_form.css' %}">
{% endblock css %}

{% block content %}

<div class='wraper m-auto' style='max-width:720px; min-height:580px; width:auto; box-shadow:0 0 20px rgb(0 0 0 / 5%);'>
    <div class='container py-3' style='background-color:rgb(252, 248, 237, 0.7);'>
        <div style='float:left'><h5 class='fw-bolder'>{{ shop_name }}</h5></div>
        <div><span>&nbsp;에 대한 솔직한 리뷰를 써주세요✍️</span></div>
        <form action="" method="POST" enctype="multipart/form-data" class='form-label mt-3'>
            {% csrf_token %}
            {% comment %} { review_form.as_p } {% endcomment %}
            {% bootstrap_form review_form %}
            <a href="javascript:window.history.back();" class='btn btn-outline-warning me-2 fw-bolder'>수정 취소</a>
            {% bootstrap_button button_class="btn btn-outline-warning me-2" style="font-weight:bold;" button_type="reset" content="되돌리기" %}
            {% bootstrap_button button_class="btn btn-warning fw-bolder mb-2" style='color:white; float:right' button_type="submit" content="리뷰 올리기" %}
        </form>
    </div>
</div>
{% endblock %}
