{% extends 'base.html' %}
{% load static %}

{% comment %} 
  {    ------------------- 총 15개 데이터 -------------------------
      'store_name': 식당이름,                            => 베이스
      'store_score': 평점,                               => 베이스
      'store_brief_intro': 가게 간단 소개,               => 베이스
      'store_intro': 가게 소개,                          => 상세
      'store_imgs': 가게 사진들,                         => 베이스
      'store_category': 가게 업종,                       => 베이스
      'store_address': 가게 주소,                        => 홈, 상세
      'store_way_to_come': 가게 오시는길,                => 상세
      'store_operating_time': 가게 영업 시간,            => 상세
      'store_today_operating_time': 오늘 매장 영업 시간, => 홈
      'store_phone_number': 가게 전화번호,               => 상세
      'store_facility_detail': 가게 편의 시설 정보,      => 홈
      'store_main_menu': 가게 대표메뉴,                  => 홈, 메뉴
      'store_drinks': 가게 음료/주류,                    => 메뉴
      'store_homepage': 가게 홈페이지,                   => 상세
  }
{% endcomment %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/bakeries/shop_home.css' %}">
{% endblock css %}

{% block content %}
<main class='container'>
  {% comment %} 빵집 상세 페이지 공통 정보 {% endcomment %}
  <section>
    {% comment %} 빵집 이미지(carousel) {% endcomment %}
    <article id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
      <div class="carousel-indicators">
        {% for img_url in store_data.store_imgs %}
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ forloop.counter0 }}" aria-label="Slide {{ forloop.counter0 }}"></button>
        {% endfor %}
      </div>
      <div class="carousel-inner">
        {% for img_url in store_data.store_imgs %}
          <div class="carousel-item">
            <img src="{{ img_url }}" alt="" class="d-block w-100 h-100">
          </div>
        {% endfor %}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </article>
    {% comment %} 빵집 기본 정보 {% endcomment %}
    <article class='mt-3 ms-3'>
      {% comment %} 빵집 상호명/평점 {% endcomment %}
      <div class='d-flex align-items-center'>
        <h3 class='me-3 fw-bolder'>{{ store_data.store_name }}</h3>
        <p class='shop-score'>{{ store_data.store_score }}</p>
      </div>
      {% comment %} 빵집 간단 소개글/빵집 업종/리뷰 작성 버튼 {% endcomment %}
      <div class='d-flex align-items-center justify-content-between'>
        <div>
          <p class='mb-1'>{{ store_data.store_brief_intro }}</p>
          <p class='my-0 text-muted'>{{ store_data.store_category }}</p>
        </div>
        <form action="{% url 'reviews:create' shop_id %}" class='m-0'>
          <button class='review-create-btn' type="submit">
            <i class="bi bi-pencil"></i>
          </button>
          <input type="hidden" name="shop_name" value='{{ store_data.store_name }}'>
        </form>
      </div>
    </article>
  </section>

  {% comment %} 빵집 상세 페이지 - home 탭 {% endcomment %}
  <section class='mt-5 border-top'>
    {% comment %} 홈/메뉴/상세/리뷰 탭 {% endcomment %}
    <ul class='d-flex list-unstyled justify-content-evenly p-2'>
      <li>홈</li>
      <li>메뉴</li>
      <li>상세</li>
      <li>리뷰</li>
    </ul>

    {% comment %} home 탭 > 기본 정보 {% endcomment %}
    <article>

    </article>
    {% comment %} home 탭 > 메뉴 정보 {% endcomment %}
    <article>

    </article>
  </section>

</main>
{% endblock content %}

{% block js %}
<script src="{% static 'js/bakeries/shop_home.js' %}"></script>
{% endblock js %}






<p>{{ store_data.store_intro }}</p>

<p>{{ store_data.store_address }}</p>
<p>{{ store_data.store_operating_time }}</p>
<p>{{ store_data.store_today_operating_time }}</p>
<p>{{ store_data.store_phone_number }}</p>
<p>{{ store_data.store_facility_detail }}</p>
<p>{{ store_data.store_main_menu }}</p>
<p>{{ store_data.store_drinks }}</p>
<p>{{ store_data.store_homepage }}</p>