{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  {% for store_data in store_DB %}
    <div class="card">
      <div class="card-body">
        <p>store_name:
          {{ store_data.store_name }}
        </p>
        <p>store_score:
          {{ store_data.store_score }}
        </p>
        <p>store_img:
          <img src="{{ store_data.store_img }}" alt="">
        </p>
        <p>store_region:
          {{ store_data.store_region }}
        </p>
        <p>store_id_id:
          {{ store_data.store_id }}
        </p>
        <a href="{% url 'bakeries:shop_home' store_data.store_id %}">가게로 이동</a>
      </div>
    </div>
  {% endfor %}
{% endblock content %}