{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>

  <body>
    {% for store_data in store_DB %}
      <div class="card">
        <div class="card-body">
          <p>store_name:
            {{ store_data.store_name }}</p>
          <p>store_score:
            {{ store_data.store_score }}</p>
          <p>store_img:
            <img src="{{ store_data.store_img }}" alt=""></p>
          <p>store_region:
            {{ store_data.store_region }}</p>
          <p>store_id_id:
            {{ store_data.store_id }}</p>
        </div>
      </div>
    {% endfor %}
  </body>

</html>