{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}



<!-- 제목 -->
<div class="container-sm  d-flex justify-content-between mt-4">
    <h1>{{ user.username }}님의 회원 정보페이지</h1>

    <!-- 팔로우 버튼 -->
    
    {% if request.user != user %}
    <form id='follow-form' data-user-id='{{ user.pk }}'>
        {% csrf_token %}
        {% if request.user in user.followers.all %}
        <input type='submit' class="btn btn-outline-danger mb-3" value="언팔로우" >
        {% else %}
        <input type='submit' class="btn btn-outline-success mb-3" value='팔로우'>
        {% endif %}
    </form>
    {% endif %}
    <!-- 팔로워 팔로우 표시  -->
</div>

<div class="m-4 d-flex justify-content-center align-items-center"
        style="height: 50vh; flex-direction: column; background-color: rgb(255,247,187,0.7); border-radius: 1rem;">
        <div class="d-flex" style="flex-direction: row;">
            <div class="me-4">
                {% if user.profile_set.all.count > 0 %}
                <img src="{{ profile_image.image.url }}" alt=""
                    style="height: 20vh; width: 20vh; border-radius: 100%;">
                {% else %}
                <img src="https://image.idus.com/image/files/449a7e7a064c41baada8d3294f99d2af_720.jpg" alt=""
                    style="height: 20vh; width: 20vh; border-radius: 100%;">
                {% endif %}
            </div>
            <div class="mt-3">
                <p style="font-family: 'ONE-Mobile-POP'; font-size: 1.7rem;">{{user.username}}</p>
                <p style="font-family: 'ONE-Mobile-POP';">
                    팔로워 : <span id ='followers-count'>{{ user.followers.all|length }} </span>
                    팔로잉 : <span id ='followings-count'>{{ user.followings.all|length }} </span>
                </p>
            </div>
        </div>
        <div class="mt-4 d-flex" style="flex-direction: row;">
            <small class="me-3" style="font-family: 'ONE-Mobile-POP';">최근 접속시간 : {{ user.last_login }}</small>
            <small class="me-3" style="font-family: 'ONE-Mobile-POP';">이메일 : {{ user.email }}</small>
            <small style="font-family: 'ONE-Mobile-POP';">성별: {{ user.gender }}</small>
            {% comment %} <p style="font-family: 'ONE-Mobile-POP';">세상 모든 소금빵을 다 먹을 때까지 빵집 뿌시기👊🏻</p> {% endcomment %}
        </div>
        {% if request.user == user %}
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="d-flex mt-2" style="flex-direction: row;">
                <div style="font-family: 'ONE-Mobile-POP'; width: 50vh;">{% bootstrap_form profile_form %}
                    <div style="font-family: 'ONE-Mobile-POP'; margin-top: 1rem;">{% bootstrap_button button_type="submit" button_class="btn-outline-warning" content="프로필이미지 수정" %}</div>
                </div>
                <a href="{% url 'accounts:update' user.pk %}" class="btn btn-outline-warning" style="height: 2.4rem; font-family: 'ONE-Mobile-POP'; margin-top: 2rem; margin-left: 2rem;">회원정보 수정</a>
            </div>
        </form>
        {% endif %}
    </div>

    

    <div class="row row-cols-3 g-3 text-center" style="flex-direction: row; justify-content: space-evenly; margin-top: 3rem;">
        <div>
            <h3 style="font-family: 'ONE-Mobile-POP';" >작성한 글</h3>
            {% for review in user.review_set.all %}
            <div class="card border-warning mb-3" style="max-width: 18rem;">
                <div class="card-header">
                  
                    <strong class="me-auto" style="font-family: 'ONE-Mobile-POP';">{{user.username}}</strong>
                    <small class="text-muted" style="font-family: 'ONE-Mobile-POP';"> {{ review.created_at }}</small>
                </div>
                <div class="card-body">
                    <a href="{% url 'reviews:detail' user.pk %}" class='text-decoration-none' style='color:rgb(214, 155, 97)'>
                        <h5 class="card-title" style="font-family: 'ONE-Mobile-POP';">{{ review.content }}
                        </h5>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div>
            <h3 style="font-family: 'ONE-Mobile-POP';">작성한 댓글</h3>
            {% for comment in user.comment_set.all %}
            <div class="card border-warning mb-3" style="max-width: 18rem;">
                <div class="card-header">
                    <strong class="me-auto" style="font-family: 'ONE-Mobile-POP';">{{user.username}}</strong>
                    <small class="text-muted" style="font-family: 'ONE-Mobile-POP';">{{ comment.created_at }}</small>
                </div>
                <div class="card-body">
                    <a href="{% url 'reviews:detail' comment.user_id %}" class='text-decoration-none' style='color:rgb(214, 155, 97)'>
                        <h5 class="card-title" style="font-family: 'ONE-Mobile-POP';">{{ comment.content }}
                        </h5>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class='text-align-center'>
            <h3 style="font-family: 'ONE-Mobile-POP';" >좋아요한 글</h3>
            {% for review in user.like_reviews.all %}
            <div class="card border-warning mb-3" style="max-width: 18rem;">
                <div class="card-header">
                    <strong class="me-auto" style="font-family: 'ONE-Mobile-POP';">{{user.username}}</strong>
                    
                </div>
                <div class="card-body">
                    <a href="{% url 'reviews:detail' review.pk %}" class='text-decoration-none' style='color:rgb(214, 155, 97)'>
                        <h5 class="card-title" style="font-family: 'ONE-Mobile-POP';">{{ review.content }}
                        </h5>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
<!-- 회원탈퇴 -->
{% if request.user == user %}
<div class="container-sm  d-flex justify-content-end m-5">
    <a href="{% url 'accounts:delete' %}" class="text-decoration-none btn btn-outline-danger mx-1">회원탈퇴</a>
</div>
{% endif %}

{% endblock content %}
{% block js %}
<script src='{% static "js/accounts/follower.js" %}'>

</script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js">
</script>
{% endblock js %}

